@model IEnumerable<Entities.User>

@{
    ViewBag.Title = "Users";
}
<h2>User List</h2>

<div class="container">
    <h4>Number of registered users: <strong>@ViewBag.UsersCount</strong></h4>
   
    
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharedFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownloadFolder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.IsEnabled) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SharedFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownloadFolder)
        </td>
        <td>
            @Html.ActionLink("Edit", "DisplayUser", new { UserID = item.UserID }) |
            @Html.ActionLink("Delete", "DeleteUser", new { UserID = item.UserID })
        </td>
    </tr>
}

</table>
